@import "variables";                               
@import "mixins";
@import "normalize";                    
@import "colorBox";     
                                                                                                              
/* Components */                                                               
                                                                 
@import "components/menuSideBar";
@import "components/rangeBar";   
@import "components/menuTop";         
@import "components/buttons";
@import "components/navUp";
@import "components/menuTopSidebar";
@import "components/hamburgerIco";
@import "components/checkboxes";
 
/* Sections */      
@import "sections/popupLogin";     
@import "sections/postback"; 
@import "sections/links"; 
@import "sections/personalData"; 
@import "sections/payout";
@import "sections/generalStatistic"; 
@import "sections/managersTable";   
@import "sections/details";
@import "sections/banners";
@import "sections/generalLinks";                                                       

/* Pages / Views */
    
body {
    font-family: $brand-font;
}
         
img {
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar {   
    width: 190px;
    height: 100%;    
    background-color: $sidebar-color;
    position: fixed;
    top: 70px;              
    z-index: 2;
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
} 

.top-bar {            
    height: 70px;
    width: 100vw; 
    min-width: 590px; 
    border: 1px solid $line-color;
    background-color: #fff;
    border-top: none;
    border-left: none;
    position: fixed;
    z-index: 1;    
    display: flex;
    justify-content: flex-end;
} 

.main {
    min-height: 100vh;
    height: 100%;
    background-color: $main-bg-color;
    margin-left: 190px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transition: -webkit-transform 0.5s;
    transition: margin-left 0.5s;
}

@media(max-width: 767px) {
    .main {
        margin-left: 0;
    }
 
    .top-bar {
        display: none;     
    }

    .sidebar {
        overflow-y: scroll;
        transform: translate3d(0, 0, 0);
    }    
}

@media(max-width: 500px) {
    .sidebar {
        width: 100%;
    }    
}




           

  