@import "variables";                             
@import "mixins";
@import "normalize";
@import "colorBox";     
                                                                                                       
/* Components */                                                            
                                                                 
@import "components/menuSideBar"; 
@import "components/menuTop";         
@import "components/buttons";
@import "components/navUp";
@import "components/menuTopSidebar";
@import "components/hamburgerIco";
@import "components/checkboxes";
 
/* Sections */          
@import "sections/postback"; 
@import "sections/links";
@import "sections/personalData";
@import "sections/payout";
@import "sections/generalStatistic"; 
@import "sections/managersTable";  
@import "sections/details";
@import "sections/banners";
@import "sections/generalLinks"; 

/* Pages / Views */
  
body {
    font-family: $brand-font;
}
         
img {
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar {
    width: 190px;
    height: 100%;    
    background-color: $sidebar-color;
    position: fixed;
    top: 70px;             
    z-index: 2;
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.top-bar {
    height: 70px;
    width: 100vw;
    min-width: 590px; 
    border: 1px solid $line-color;
    background-color: #fff;
    border-top: none;
    border-left: none;
    position: fixed;
    z-index: 1;    
    display: flex;
    justify-content: flex-end;
} 

.main {
    min-height: 100vh;
    height: 100%;
    background-color: $main-bg-color;
    margin-left: 190px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transition: -webkit-transform 0.5s;
    transition: margin-left 0.5s;
}

@media(max-width: 767px) {
    .main {
        margin-left: 0;
    }
 
    .top-bar {
        display: none;     
    }

    .sidebar {
        overflow-y: scroll;
        transform: translate3d(0, 0, 0);
    }    
}

@media(max-width: 500px) {
    .sidebar {
        width: 100%;
    }    
}

.send-after-container {
    display: flex;
    justify-content: center;
    align-items: center;

.progress-bar {                             
    width: 93%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
        content: '0';
        position: relative;
        left: -45.5%;
        bottom: 7px;
    }
    &::after {
        content: '168';
        position: relative;
        left: 44%;
        bottom: 117px;
    }

    .myProgress {
        width: 93%;
        background-color: $line-color;
    }
  
    .myBar {
        width: 0;
        height: 10px;
        background-color: $button-color;
    }

    .range-bar {
        width: 100%;
        -webkit-appearance: none;
        border: none;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
          }
        
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 50px;
            width: 50px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer; 
            background-image: url("links-banners-dashboard/images/arrow-range.png");
            background-repeat: no-repeat;
            background-size: 35px;
            background-position: 50% 50%;
          }
          
          /* All the same stuff for Firefox */
          &::-moz-range-thumb {
            height: 36px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
          }
          
          /* All the same stuff for IE */
          &::-ms-thumb {
            height: 36px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
          }
        
    }
    .label-wrapper {
        width: 100%;
        margin-right: -20px;

        label {    
            left: 0;
            color: #000;
            font-size: 1em;
            font-weight: normal;
        }
    }
}
}     


           

  