@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "colorBox";


/* Components */
   
@import "components/menuSideBar"; 
@import "components/menuTop";         
@import "components/buttons";

/* Sections */
//import "section/registration_form";

/* Pages / Views */
//import "pages/registration";

body {
    font-family: $brand-font; 
} 

.sidebar {
    width: 15%;
    margin-top: 0;
    min-width: 165px;
    background-color: $sidebar-color;
    position: fixed;
    z-index: 2;
} 

.top-bar {
    height: 50px;
    width: 85%;
    min-width: 590px; 
    border: 1px solid $line-color;
    background-color: #fff;
    border-top: none;
    border-left: none;
    position: fixed;
    z-index: 1;
    left: 15%; 
    display: flex;
    justify-content: flex-end;
}

.main {
    width: 85%;
    height: 100vh;
    background-color: $main-bg-color;
    //position: relative;
    margin-left: 15%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .general-statistic {
        width: 95%;
        height: 600px;
        background-color: #fff;
        margin-top: 5%;
        box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
    
        .page-header {
            border-bottom: 1px solid $line-color;
   
            .title {
                font-size: 1em;
                color: $font-color;
                font-weight: bold;
                text-transform: uppercase;
                padding-left: 15px;
            }
        } 

        .time-range {
            border-bottom: 1px solid $line-color;
            height: 20%;
            min-height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;

            .calendar {
                border: 1px solid $line-color;
                padding: 5px;
                border-radius: 5px;
                margin-right: 15px;

                input {
                    border: none;
                    padding: 10px;                    
                    &:first-child {
                        border-right: 1px solid $line-color;
                    }
                    &::placeholder {
                        color: #000;
                    }
                }

                .icon-calendar {
                    padding: 10px;
                    font-size: 1.2em;
                    text-decoration: none;
                    color: $font-color;
                }
            }
        }
    }
}

.wrapper {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hamburger-ico {
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
}

.managers-table {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    border-top: 1px solid $line-color;

    .title {
        text-transform: uppercase;
        color: $font-color;
        font-size: 0.9em;
        margin-top: 20px;
        padding: 15px 15px 0 20px;
        
    }

    .manager-field {
        display: flex;
        align-items: center;
        padding: 15px 15px 0 20px;
        .person-name {
            text-decoration: none;
            color: $person-name-color;
            padding-left: 10px;
            font-size: 1em;
        }

        .wrapper {
            position: relative;
        }

        .person-photo {
            border-radius: 50%;
        }

        .online-ico {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: green;
            position: absolute;
            z-index: 1;
            left: 73%;
            top: 10%;
        }

    }
}

