.btn {
    background-color: $button-color;        
    border-radius: 2px;
    border: none;
    color: $white-color;
    cursor: pointer;
    &:hover {
        background-color: $button-hover-color;
    }
    
    a {
        color: $white-color;
    }    
}

.btn-square {
    min-width: 45px;
    min-height: 45px;
    padding: 10px;
}

.btn-rectangle {
    padding: 13px 30px;
}