.btn {
    background-color: $button-color;        
    border-radius: 2px;
    border: none;
    color: $white-color;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;  

    &:hover {
        background-color: $button-hover-color;
    }
    
    a {
        color: $white-color;
        text-decoration: none;
    }    
}

.btn-square {
    min-width: 45px;
    min-height: 45px;
    padding: 10px;
}

.btn-rectangle {
    padding: 13px 30px;
}

.btn-other {
    background-color: $font-color;
    &:disabled {
        background-color: $line-color;
        cursor: not-allowed;
    }
}