.menu-top {
    margin: 0;
    float: left;
    >li {
        list-style-type: none;
        display: inline-block;
        padding: 15px;
        cursor: pointer;
        border-left: 1px solid $font-color;
        text-align: center;
        &:hover {
                      
        }
        a {
            text-decoration: none;
            color: $font-color;
            text-align: center;
            margin-right: 10px;
        }
    }
}