.pagination {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    >a {
        text-decoration: none;
        color: $person-name-color;
        padding: 15px 19px;
        border-radius: 3px;
        &:hover {
            color: $button-hover-color;
        }
        &:before {
            color: $font-color;
        }
    }
    .active {
        background-color: $line-color;
        color: $font-color;
    }
}

@media(max-width: 767px) {
    .pagination {
        width: 60%;

        >a {
            padding: 5px 9px;
        }
    }

}