.scrol-bar-y {
    position: absolute;
    top: 55%;
    right: -100px;                    
    background-color: $line-color;
    width: 250px;                    
    transform: rotate(90deg);
    appearance: none;
    border-radius: 0;
    padding: 0;
    border: none;
    &:hover {
        border: none;
    }
    &:active {
        border: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 25px;
        width: 100px;
        background: $font-color;
        cursor: pointer; 
      }
      
      /* All the same stuff for Firefox */
    &::-moz-range-thumb {
        height: 25px;
        width: 100px;
        background: $font-color;
        cursor: pointer; 
      }
      
      /* All the same stuff for IE */
    &::-ms-thumb {
        height: 25px;
        width: 100px;
        background: $font-color;
        cursor: pointer; 
      }
}