    .select {
        padding: 10px;
        border-color: $line-color;
        border-radius: 3px;
        appearance: none;
        background-image: url("../images/arrow-select.svg");
        background-repeat: no-repeat;
        background-position: 97%;
        background-size: 15px; 
    }