/*EXTENDS*/
@import "../extends/article";

/*COMPONENTS*/
@import "../components/pageHeader"; 
@import "../components/timeRange";
@import "../components/dataInformation";
@import "../components/earningChart";

.general-statistic {
    @extend .article;

    .chart {
        margin-top: 50px;
    }

    .earnings-chart {

        .title {
            font-weight: bold;
            font-size: 1.2em;
            color: $font-color;
        }
    }
}