/*Components*/
@import "../components/pagination";

.payout {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time-range {
        width: 100%;
    }

    .payout-table {
        width: 95%;
        margin-top: 3%;
        border-collapse: collapse;
        tbody {
            >tr {
                cursor: pointer;
                &:hover {
                    background-color: $line-color;
                }
            }
        }

        tr {
            height: 70px;

            >th {
                width: 25%;
                text-align: left;
                color: $font-color;
                border-bottom: 2px solid $line-color; 
                cursor: pointer;
                &:first-child {
                    width: 30%;
                }
                &:last-child {
                    width: 15%;
                }

                >a {
                    padding: 10px 15px;
                    color: $font-color;
                    text-decoration: none;
                    &:after {
                        padding-left: 10px;
                        visibility: hidden;
                    }

                    &:hover {
                        background-color: $line-color;
                        border-radius: 3px;
                        color: #000;
                        &:after {
                            color: $font-color;
                            visibility: visible;
                        }
                    }
                }
            }

            >td {
                border-bottom: 2px solid $line-color;
                padding-left: 15px;               
            }

        }
    }
}