.popup-wrapper-chat-manager {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
    display: none;
    justify-content: center;
    align-items: center;

    .chat-manager {
        width: 70%;
        background-color: #fff;
        min-width: 510px;

        .page-header {
            display: flex;
            align-items: center;
            position: relative;

            .close-chat-ico {
                position: absolute;
                right: 15px;
                cursor: pointer;

                &:before {
                    content: '\0049';
                    color: $font-color;
                    font-family: 'Glyphter';
                }
            }
       
        }

        .manager-field {
            display: flex;
            height: 70px;
            border-bottom: 1px solid $line-color;
            padding: 10px;

            .manager-ico {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }

            .manager-info {
                margin-left: 12px;

                .manager-name {
                    margin: 0;
                    margin-bottom: 5px;
                }

                .status-info {
                    background-color: $online-status-color;
                    border-radius: 3px;
                    color: #fff;
                    display: inline-block;
                    padding: 4px 5px 2px 5px;
                    font-size: 0.8em;
                }
            }
        }
    }

    .chat-container {
        padding: 0 20px;
        height: 400px;
        margin-bottom: 15px;
        padding-top: 25px;
        border-bottom: 1px solid $line-color;
        overflow: auto;

        .message-other {
            position: relative;
            display: flex;
            margin-bottom: 15px;
                
            .text {
                background-color: $message-other-color;
                padding: 15px 20px;
                font-size: 1em;
                max-width: 50%;
                border-radius: 3px;                
            }

            .element {
                background-color: $message-other-color;
                width: 12px;
                height: 15px;
                position: absolute;
                left: 0;
                top: -5px;
                transform:skewY(40deg);
            }
        }

        .wrapper-message {
            position: relative;
            display: flex;
            margin-bottom: 25px;

            .message-each {
                max-width: 50%;
                position: relative;

                .text {
                    background-color: $message-each-color;
                    color: #fff;
                    padding: 15px 20px;
                    font-size: 1em;                                
                    margin: 0;
                    border-radius: 3px;
                
                }
                .element {
                    background-color: $message-each-color;
                    width: 12px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    bottom: -4px;
                    transform:skewY(40deg);
                }
            }
        }
    }

    .send-message {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15px;

        .message-input-wrapper {
            width: 85%;
            position: relative;
            display: flex;
            align-items: center;
            margin-right: 5px;
            margin-left: 15px;

            .message-text {
                width: 100%;
                padding: 10px 50px;
            }

            .cloud-ico {
                position: absolute;
                display: flex;
                align-items: center;
                &:before {
                    content: '\004e';
                    font-family: 'Glyphter';
                    color: $line-color;
                    font-size: 1.3em;
                    padding-left: 15px;
                }
            }
        }
    }

    .send-button {
        margin-right: 15px;
    }
}