/*COMPONENTS*/
@import "../components/pageHeader";
@import "../components/textarea";
@import "../components/selectInput";
@import "../components/scrollBarY";

.postback {
    .btn {
        margin: 1% 0;
        margin-right: 2%;
        align-self: flex-end;
    }

    .description {
        padding: 0 25px;
    }

    .postback-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .wrapper {
            flex-direction: column;
            width: 50%;
            min-height: 20%;
            padding: 0 20px;
            margin-top: 0;

            label {
                align-self: flex-start;
            }
        }
       
        .textarea-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 3%;
                        
            .textarea {
                margin-top: 3%;
                width: 95%;
                min-height: 170px;
            }
        }

        .select-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 3%;

            .wrapper {
                width: 33%;
                padding: 0 10px;
                .select {
                    margin-top: 5%;
                    width: 100%;
                }
            }
        }

        .other-container {
            display: flex;
            width: 100%;
            border-top: 1px solid $line-color;
            border-bottom: 1px solid $line-color;
            position: relative;
           
            .checkbox-container {
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 15px 20px;
                border-right: 1px solid $line-color;
                position: relative;

                .checkboxes {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    padding: 15px 20px;
                    overflow-y: hidden;
                    overflow-x: hidden;
                }

                /*
                &::-webkit-scrollbar {
                    width: 1.4em;
                    position: relative;
                    margin-right: 15px;
                }
                 
                &::-webkit-scrollbar-track {
                    background-color: $line-color;
                }
                 
                &::-webkit-scrollbar-thumb {
                  background-color: darkgrey;
                  outline: 1px solid slategrey;
                }
                */
              
                .title {
                    font-size: 1.1em;
                    font-weight: bold;
                    color: $font-color;
                    display: block;
                    &::before {
                        content: "Not";
                        text-transform: uppercase;
                        color: #FF0000;
                        margin-right: 10px;
                    }
                }


                .wrapper {
                    padding-left: 45px;
                    min-height: 15%;
                    >label {
                        font-weight: 400;
                        color: #000;                        
                    }
                }
            }

            .send-after-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
            
                .progress-bar {                             
                    width: 93%;    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &::before {
                        content: '0';
                        position: relative;
                        left: -45.5%;
                        bottom: 7px;
                    }
                    &::after {
                        content: '168';
                        position: relative;
                        left: 44%;
                        bottom: 117px;
                    }
            
                    .label-wrapper {
                        width: 100%;
                        margin-right: -20px;
            
                        label {    
                            left: 0;
                            color: #000;
                            font-size: 1em;
                            font-weight: normal;
                        }
                    }
                }
            }     
        }
    }    
}

